<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Suite" verbose="1" parallel="false">
    <test name="SauceDemo Tests">
        <classes>
            <class name="com.amr.automation.tests.SauceDemoTest"/>
        </classes>

        <listeners>
            <listener class-name="com.amr.automation.base.TestListener"/>
        </listeners>

    </test>
</suite>
